In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

In [3]:
home_team_dataframe = pd.DataFrame()
for file in os.listdir("raw/home_team_parquet"):
    single_stats = pd.read_parquet("raw/home_team_parquet/" + file)
    home_team_dataframe = pd.concat([home_team_dataframe, single_stats], axis= 'rows', ignore_index=True)

home_team_dataframe.head(10)

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11673958,Barrios Vera T.,barrios-vera-tomas,M,2915,Santiago,"Chillan, Chile",1.91,83,right-handed,2014,265608,646273,132834,103,BAR,Chile,"Barrios Vera, Tomás"
1,11673962,Tirante T.,tirante-thiago-agustin,M,1519,La Plata,"La Plata, Argentina",1.85,78,right-handed,None,249335,430793,221515,123,TIR,Argentina,"Tirante, Thiago Agustin"
2,11673963,Heide G.,heide-gustavo,M,1177,None,Sao Paulo,1.88,None,right-handed,None,36929,87230,302582,247,HEI,Brazil,"Heide, Gustavo"
3,11673993,Ajduković D.,ajdukovic-duje,M,1293,"Zagreb, Croatia","Split, Croatia",1.88,75,right-handed,None,63678,198866,207081,143,AJD,Croatia,"Ajduković, Duje"
4,11674000,Escobedo E.,escobedo-ernesto,M,680,"West Covina, CA, USA","Los Angeles, CA, USA",1.85,82,right-handed,2014,84375,1280430,80491,404,ESC,Mexico,"Escobedo, Ernesto"
5,11674008,Shelbayh A.,shelbayh-abedallah,M,1411,None,Amman,1.80,None,None,None,104721,128500,307383,187,SHE,Jordan,"Shelbayh, Abedallah"
6,11674011,Crawford O.,crawford-oliver,M,442,"Spartanburg, SC","Spartanburg, SC, USA",1.80,84,right-handed,None,40191,113045,213057,215,CRA,USA,"Crawford, Oliver"
7,11674026,Gasquet R.,gasquet-richard,M,5025,"Neuchatel, Switzerland","Beziers, France",1.83,79,right-handed,2002,680075,17234183,14414,76,GAS,France,"Gasquet, Richard"
8,11674032,Machač T.,machac-tomas,M,2381,Czech republic,"Beroun, Czech Republic",1.83,73,right-handed,None,358816,873971,238300,78,MAC,Czech Republic,"Machač, Tomáš"
9,11674034,Draper J.,draper-jack,M,5892,London,"Sutton, England",1.93,75,left-handed,2018,614923,1519143,258749,61,DRA,United Kingdom,"Draper, Jack"